<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}

</head>

<body>
       <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <div class="center_part_fee">
        <div class="courses_top"> Courses Details</div>
        <div class="courses_middle">
            <span><a href="/admin/courses/addCourse"><i class="bi bi-plus-square-fill"></i></a></span>
            <table>
                <thead>
                    <tr>
                        <th>COURSE ID</th>
                        <th>COURSE NAME</th>
                        <th>COURSE FEE</th>
                        {{!-- <th>TECHNOLOGY</th> --}}
                        <th>UPDATE</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courseAvailable}}
                    <tr>
                        <td>{{this.courseID}}</td>
                        <td>{{this.courseName}}</td>
                        <td>{{this.courseFee}}</td>
                        {{!-- <td>{{this.courseFee}}</td> --}}
                        <td>
                            <form method="post" action="/admin/courses/editCourse/{{this._id}}">
                                <!-- Including CSRF token in form (csrfToken -> global variable)-->
                                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                                <input type="submit" value="update" class="edit-button">
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/deleteCourse/{{this._id}}" >
                                    <!-- Including CSRF token in form (csrfToken -> global variable)-->
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">    
                            {{!-- <input type="hidden" name="_method" value="DELETE">                             --}}
                                <input  type="submit" value="Delete" class="delete-button">
                            </form>
                        </td>
                        
                    </tr>
                    {{/each}}
                   

                </tbody>
            </table>

        </div>

    </div>


    <script src="/js/jscript.js"></script>
</body>

</html>