<!DOCTYPE html>
<html lang="en">
  <head>
   {{> head}}
  </head>

  <body>
    <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

   

    <div class="center_part_dashboard">
      <div class="admin_dashboard_tray">
        <div class="admin_dashboard_tray1">
          <p><a href="/admin/students">Students</a></p>
          <p>{{totalStudents}}</p>
        </div>
        <div class="admin_dashboard_tray1">
          <p><a href="/admin/teachers">Teachers</a></p>
          <p>{{totalTeachers}}</p>
        </div>
        <div class="admin_dashboard_tray1">
          <p><a href="/admin/studentFee">Pending Salary</a></p>
          <p>---</p>
        </div>
        <div class="admin_dashboard_tray1">
          <p><a href="#">Pending Fees</a></p>
          <p>
            {{#unless pendingFees.[0].totalpendingfees}}
                ---
            {{else}}

                {{pendingFees.[0].totalpendingfees}}

            {{/unless}}

          </p>
        </div>
      </div>

      <div class="notice">
        <div class="cover">
          <div class="slider">

          {{#each noticedisp}}
          <div class="alert alert-1-primary">
            <h3 class="alert-title">{{this.noticeHead}}</h3>
            <p class="alert-content">{{this.notice}}</p>
          </div>
          {{!-- <div class="alert alert-2-secondary">
            <h3 class="alert-title">{{this.noticeHead}}</h3>
            <p class="alert-content">{{this.notice}}</p>
          </div> --}}

          {{/each}}


          </div>

          
        </div>
      </div>
    </div>
    </div>

    <!--scripts  -->
    <script src="/js/jscript.js"></script>
  </body>
</html>
