<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}

</head>

<body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}


     <div class="center_part_addstd">
      <div class="add_students_top">Student Update</div>
      <div class="add_students_middle">

             {{#each studentData}}
        <form action="/updateStudent/{{_doc._id}}" method="post" enctype="multipart/form-data">
          <!-- Including CSRF token in form (csrfToken -> global variable)-->
                    {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
                    
          <table>
            <tr>
              <td>
                <input
                  type="text"
                  name="firstname"
                  value="{{_doc.firstname}}"
                  placeholder="First Name"
                  required
                />
              </td>
              <td>
                <input type="text" name="lastname" value="{{_doc.lastname}}" placeholder="Last Name"
                required />
              </td>
            </tr>
            <tr>
              <td>
                <input type="email" name="email" value="{{_doc.email}}" placeholder="example@123gmail.com" required />
              </td>
              <td>
                   <input
                  type="password"
                  name="password"
                  placeholder="Password-only changed by user itself"
                  disabled
                  style="border: 1.5px gray solid; cursor:not-allowed; opacity: 0.7 "
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="tel"
                  name="telephone"
                  value="{{_doc.telephone}}"
                  placeholder="800 000 0000"
                  pattern="[789][0-9]{9}"
                  required
                />
              </td>
              <td>
                <div class="radio-group">
                  <input
                    type="radio"
                    name="gender"
                    id="male"
                    value="male"
                    {{#if (eq _doc.gender "male")}} checked {{/if}}
                   
                  />
                  <label for="male" >male</label>

                  <input 
                    type="radio" 
                    name="gender" 
                    id="female" 
                    value="female" 
                    {{#if (eq _doc.gender "female")}} checked {{/if}} 
                  />
                  <label for="female" >female</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="number"
                  name="rollno"
                  value="{{_doc.rollno}}"
                  placeholder="Roll no."
                  min="0"
                  required
                />
              </td>
              <td>
                {{!-- <input
                  type="number"
                  name="fees"
                  value="{{_doc.fees}}"
                  placeholder="fees"
                  min="0"
                  required
                /> --}}
              </td>
            </tr>
              
            <tr>
              <td>
                <fieldset class="address-fieldset">
                  <legend>Address:</legend>
                  <input type="text" name="street" value="{{_doc.address.street}}" placeholder="Street" />
                  <input type="text" name="city" value="{{_doc.address.city}}" placeholder="City" required/>
                  <input type="text" name="state" value="{{_doc.address.state}}" placeholder="State" required />
                  <input type="text" name="pincode" value="{{_doc.address.pincode}}" placeholder="PIN Code" required />
                </fieldset>
              </td>
              <!-- <td></td> -->
            </tr>
            <tr>
              <td>
                <input
                  type="date"
                  name="joiningdate"
                  value="{{_doc.joiningdate}}"
                  data-placeholder="Date of Joining"
                  required
                />
              </td>
              <td>
                <input
                  type="date"
                  name="dob"
                  value="{{_doc.dob}}"
                  data-placeholder="D.O.B"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <select name="course" required>
                  <option value="" disabled >Student Course</option>

{{!-- //TODO option should match the students course in displaying  on editStudent controller in viewUser--}}
                   {{#each courseAvailable}}  
                  <option value="{{this.courseName}}"  {{#if (eq this.courseName ../_doc.course)}} selected {{/if}}> {{this.courseName}}, (Rs {{this.courseFee}})
                  </option>
                  {{/each}}
                 
                </select>
              </td>
              <td>
                <input
                  type="file"
                  name="profilepic"
                  accept="image/*"
                />
              </td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Submit" /></td>
            </tr>
          </table>
          {{/each}}
        </form>
      </div>
    </div>


<script>
    function isSelected(optionValue, selectedValue) {
        return optionValue === selectedValue;
    }
</script>



    <script src="/js/jscript.js"></script>
</body>

</html>